.top-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:aquamarine;   
    text-align: center;
    }

.w_name{
    margin: 0px;
    display: inline;
}


.menu{
    display: inline;
}

body{
    margin: 0px;
    background-image: url("360_F_348524886_Z17GLXjUSQeVRIFNR5y0Xk8qG8GxxdwN.jpg");
    background-repeat: no-repeat;
    background-size: cover  ;
}

