body{
    margin: 0px;
    text-align: center;
    /* background-image: repeating-linear-gradient(135deg, #000000, #000000 20px, #191919 20px, #191919 30px);  */
    background-image: url(../imgs/black\ bg.jpeg);
    
}   



.heading{
    font-family: monospace;
    letter-spacing: 30px;
    background-color: white;
    color: black;
    font-size: 60px;
    font-weight: lighter;
    mix-blend-mode: screen; 
}

