body{
    margin: 0px;
    background-image: repeating-linear-gradient(135deg, #000000, #000000 10px, #191919 10px, #191919 20px);
}   

.heading-container{
    text-align: center;
}

.heading{
    font-family: cursive;
    font-size: 80px;
    color: rgb(255, 14, 14);
    margin-top: 10px;
    margin-bottom: 80px;
}

