body{
    margin: 0px;
    text-align: center;
    /* background-image: repeating-linear-gradient(135deg, #000000, #000000 20px, #191919 20px, #191919 30px); */
    /* background-image: repeating-linear-gradient(135deg, #000000, #000000 25px, #191919 25px , #191919 30px); */
    box-shadow: inset 0px 10000px rgba(255,255,255, 0.03);
    background-image: url("../imgs/bga22.jpg");
    background-blend-mode: color-burn;


}   



.heading{
    font-family: monospace;
    letter-spacing: 30px;
    background-color: white;
    color: black;
    font-size: 60px;
    font-weight: lighter;
    mix-blend-mode: screen; 
}

