.languagelearning{
background-image: linear-gradient(to right,black,#FF6D28);}

.headings{
    font-family:'Inder',
        sans-serif;
}
.computerlanguageslearningsites{
    background-image: linear-gradient(to right, black, rgb(29, 114, 10));
}

.COLLEGE{
    background-image: linear-gradient(to right,black,rgb(9, 190, 235));
}



.language1{
    border-color:greenyellow;
    box-shadow: 2px 2px 10px greenyellow;
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url("../imgs/duo2.jpeg");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;


}

    
.language1:hover{
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px greenyellow;
}



.language2 {
    border-color: blue;
    box-shadow:2px 2px 10px blue;
    transition: scale 0.3s, box-shadow 0.3s;
    background-image:url(../imgs/blue.jpeg);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: center;
}


.language2:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px blue;
}


.language3 {
    border-color:yellow; box-shadow:2px 2px 10px yellow;
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/mem2);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: right;

}


.language3:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px yellow;
}



.C1 {
    border-color: white;
    box-shadow: 2px 2px 10px white;
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/free2.png);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: right;
        

}


.C1:hover{
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}




.C2 {
    border-color: rgb(24, 195, 115);
    box-shadow: 2px 2px 10px rgb(24, 195, 115);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/w2.png);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: center;

}


.C2:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(24, 195, 115);
}


.C3 {
    border-color: rgba(185, 46, 219, 0.741);
    box-shadow: 2px 2px 10px rgba(185, 46, 219, 0.741);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/ud2.jpeg);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: center;
}


.C3:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(185, 46, 219, 0.741);

}
.onthispage{
    /* background-color: #FF6D28; */
    /* background-image: url(../imgs/bl2.jpg); */
    padding: 10px;
    background-blend-mode:lighten;
}
.hey{
    font-family: 'luminari';
    color: white;
}
.top{
    text-decoration: none;
    color: white;
    transition:
    scale 0.3s;


}

.top:hover
{
    scale:"105%";
    cursor: pointer;
    color:olivedrab;
}

.P1 {
    border-color: rgba(31, 18, 209, 0.741);
    box-shadow: 2px 2px 10px rgba(31, 18, 209, 0.741);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/l2.jpeg);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: center;
}


.P1:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(31, 18, 209, 0.741);

}


.P2 {
    border-color: rgba(30, 219, 20, 0.741);
    box-shadow: 2px 2px 10px rgba(30, 219, 20, 0.741);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/m2..jpeg);
    background-blend-mode: color-burn;
        background-size: cover;
        background-position: center;
}


.P2:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(30, 219, 20, 0.741);

}

.P3 {
    border-color: rgba(46, 202, 219, 0.741);
    box-shadow: 2px 2px 10px rgba(46, 202, 219, 0.741);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/pink\ bg.jpeg);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: right;

}


.P3:hover {
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(46, 202, 219, 0.741);

}

.icon{
    height: "200px";
    border-radius: 23%;
}
hr{
    border-style: none;
    border-top-style:dashed;
    border-spacing: 20px;
    border-width: 5px;
    border-color:rgb(199, 70, 15);
    width:50%;
}