.youtube{
    border-color: red;
    box-shadow: 2px 2px 10px rgb(255, 0, 0);
    transition: scale 0.3s, box-shadow 0.3s;

}


.youtube:hover{
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.sub-heading{
    color: black;
    background-color: white;
    margin: 0px 200px;
    font-family: algerian;
    font-size: 60px;
    font-weight: lighter;
}
.minecraft{
    border-color: rgb(35, 230, 9);
    box-shadow: 2px 2px 10px rgb(35, 230, 9);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url("../imgs/Minecraftbag.jpg");
    background-blend-mode: color-burn;
    background-size: 270px 460px;


}

    
.minecraft:hover{
    background-image: url("../imgs/minecraftgif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(35, 230, 9);
}
.supercell{
    border-color: white;
    box-shadow: 2px 2px 10px white;
    transition: scale 0.3s, box-shadow 0.3s;
    background-attachment: url("imgs/crazygames.jpg");
    background-image: url("../imgs/supercellbag.jpg");
    background-blend-mode: color-burn;
    background-size: 270px 430px;


}

    
.supercell:hover{
    background-image: url("../imgs/supercellgif.webp");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}
.crazygames{
    border-color: rgb(103,64,255);
    box-shadow: 2px 2px 10px rgb(103,64,255);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: linear-gradient(45deg, darkblue, rgb(0, 0, 49));

}

    
.crazygames:hover{
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(103,64,255);
}
.valorant{
    border-color: rgb(254,52,88);
    box-shadow: 2px 2px 10px rgb(254,52,88);
    transition: scale 0.3s, box-shadow 0.3s;
    background-attachment: url("imgs/crazygames.jpg");
    background-image: url("../imgs/valorantbag.jpg");
    background-blend-mode: color-burn;
    background-size: 285px 480px;

}

    
.valorant:hover{
    background-image: url("../imgs/valorantgif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(254,52,88);
}
.friv{
    border-color: rgb(24,113,61);
    box-shadow: 2px 2px 10px rgb(24,113,61);
    transition: scale 0.3s, box-shadow 0.3s;
    background-attachment: url("imgs/crazygames.jpg");
    background-image: url("../imgs/frivbag.jpg");
    background-blend-mode: color-burn;

}

    
.friv:hover{
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(24,113,61);
}
.roblox{
    border-color: rgb(103,64,255);
    box-shadow: 2px 2px 10px rgb(103,64,255);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url("../imgs/robloxbag.jpg");
    background-blend-mode: color-burn;
    background-size: 270px 460px;

}

    
.roblox:hover{
    background-image: url("../imgs/robloxgif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(103,64,255);
}
.pubg{
    border-color: rgb(176,0,24);
    box-shadow: 2px 2px 10px rgb(176,0,24);
    transition: scale 0.3s, box-shadow 0.3s;
    background-attachment: url("imgs/crazygames.jpg");
    background-image: url("../imgs/pubgbag.jpg");
    background-blend-mode: color-burn;
    background-size: 270px 460px;

}

    
.pubg:hover{
    background-image: url("../imgs/pubgbag.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(176,0,24);
}
.freefire{
    border-color: rgb(249,163,32);
    box-shadow: 2px 2px 10px rgb(249,163,32);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url(../imgs/freefirebag.jpg);
    background-blend-mode: color-burn;
    background-size: 270px 460px;

}
    
.freefire:hover{
    background-image: url("../imgs/freefiregif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(249,163,32);
}
.angrybird{
    border-color: rgb(103,64,255);
    box-shadow: 2px 2px 10px rgb(103,64,255);
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url("../imgs/amgrybirdbag.jpg");
    background-blend-mode: color-burn;
    background-size: 270px 460px;

}

    
.angrybird:hover{
    background-image: url("../imgs/angrybirdgif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(103,64,255);
}
.prime{
    border-color: skyblue;
    box-shadow: 2px 2px 10px skyblue;
    transition: scale 0.3s, box-shadow 0.3s;
    background-image: url("../imgs/amazonprimebag.webp");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
}

    
.prime:hover{
    background-image: url("../imgs/amazonprimebaggif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px skyblue;
}
.netflix{
    border-color: red;
    box-shadow: 2px 2px 10px red;
    transition: scale 0.3s, box-shadow 0.3s;
    background-attachment: url("imgs/crazygames.jpg");
    background-image: url("../imgs/Netflix-Symbol.png");
    background-blend-mode: color-burn;
    background-position: center;
    background-size: 500px;
}

    
.netflix:hover{
    background-image: url("../imgs/netflixbaggif.gif");
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    scale: 105%;
    cursor: pointer;
    box-shadow: 0px 0px 20px red;
}
.angrybirdgif:hover{
    cursor: grab;
}
