body{
    margin: 0;
}

img{
    width: 150px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content:space-between;
    row-gap: 100px;
    border: 5px;
    border-style: solid;
    border-color: aqua;
    margin: 100px 150px 100px 150px;
}

.grid-item{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    border-color: red;;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 220px;
    text-align: center;
    height: 400px;
    transition: scale 0.3s;
}

    
.grid-item:hover{
    scale: 105%;
    cursor: pointer;

}



