body{
    margin: 0px;
    /* background-image: repeating-linear-gradient(135deg, #000000, #000000 10px, #191919 10px, #191919 20px); */
    background-image: repeating-linear-gradient(135deg, #000000, #000000 25px, #191919 25px , #191919 30px);
}   

/* p {
    color: white;
    font-size: 15px;
    width: 200px ;

} */

a{
    text-decoration: none;
    color: white;
}

.heading-container{
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: left;
    cursor: default;
}



#bore{
    color: red; 
    margin-left: 0.5em;
}

#rheho{
    position: relative;
    top: -0.4em;
    left: 1.3em;
}

.scroll-container{
    text-align: center;
}

.scroll{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(209, 209, 209);
    font-size: 20px;
    margin-top: -170px; 
    margin-bottom: 10px;
}

.vertical-line{
    margin: 0 auto;
    width: 3px; 
    height: 100px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.715), #f0f0f000);
    border-radius: 50px;
}


.w_name{
    display: inline-block;
    color: white;
    font-family: Kalam, cursive;
    font-size: 12em;
    margin-top: 0px;
    margin-bottom: 33px;
    user-select: none;
} 

.home-body-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    text-align: center;
    box-shadow: inset 0 1000px rgba(255,255,255,.05);
    background-color: rgba(0, 0, 0);

}


.body-item{
    padding: 350px 0em;
    font-size: 40px;
    transition: font-size 0.2s, background-size 0.3s;
    cursor: pointer;
    text-align: center;
    border: white;
    border-style: none solid;
    border-width: 2px;
    height: 100px; /* jugaad */
    background-size: 100%;
}

.body-item:hover{
    font-size: 44px;
    background-size: 105%;
}

.content{
    color: rgb(226, 226, 226);
    margin: 30px auto 0px auto;
    font-size: 15px;
    width: 200px;
}

.education-container{
    background-image: url("../imgs/edu.png");
    background-blend-mode: color-burn;
    background-color: rgba(59, 59, 59, 0.7);
    border-left: 0px;
    background-position: center;
}

.education-container:hover{
    background-color: rgba(59, 59, 59, 0.5);
}


.entertainment-container{
    background-image: url("../imgs/ent.png");
    background-blend-mode: color-burn;
    background-color: rgba(59, 59, 59, 0.8);
    background-position: center;
}

.entertainment-container:hover{
    background-color: rgba(59, 59, 59, 0.7);
}


.social-container{
    background-image: url("../imgs/social.png");
    background-blend-mode: color-burn;
    background-color: rgba(59, 59, 59, 0.8);
    border-right: 0px;
    background-position: center;
}

.social-container:hover{
    background-color: rgba(59, 59, 59, 0.6);
}

.logo{
    width: 150px;
}

/* .entertainment-container{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: aqua;
} */