body{
    margin: 0px;
    background-image: repeating-linear-gradient(135deg, #000000, #000000 10px, #191919 10px, #191919 20px);
}   



.heading-container{
    padding-top: 10px;
    padding-bottom: 140px;
    text-align: left;
    cursor: default;
    }


#bore{
    color: red; 
    margin-left: 0.5em;
}

#rheho{
    position: absolute;
    top: 2em;
    left: 1.8em ;
}

.w_name{
    display: inline-block;
    color: white;
    font-family: Kalam, cursive;
    font-size: 12em;
    margin-top: 70px;
} 

.social-container{
    padding-top: 10px;
    text-align: left;
    padding-bottom: 300px;
    box-shadow: inset 0 1000px rgba(255,255,255,.05);
}

.social-heading{
    text-align: center;
    color: yellow;
    font-size: 50px;
}

