
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 12px;
    height: 60px;
    /* background-color: black;
    border-style: none none solid none;
    border-width: 2px;
    border-color: rgb(0, 0, 0);  */
}


.cheel-gaiz{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family:'Arial Narrow Bold', sans-serif;
    cursor: default;
    margin: 0px;
    user-select: none;
}



.home-button{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    opacity: 70%;
    transition: opacity 0.2s;
}


.home-button:hover{
    opacity: 88%;
    cursor: pointer;
}

.home-button:active{
    opacity: 100%;
}


.a-default{
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

.a-home{
    text-decoration: none;
    text-decoration-color: black;
    color: white;
}

.home-button{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}