body{
    margin: 0px;
    background-image: repeating-linear-gradient(135deg, #000000, #000000 10px, #191919 10px, #191919 20px);
}   

.heading-container{
    text-align: center;
}

.heading{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    color: rgb(234, 255, 117);
    margin-top: 10px;
    margin-bottom: 80px;
}