body{
    background-color: black;
}

.social-heading-container{
    text-align: center;
}

.social-heading{
    font-family: Times, serif;
    font-size: 80px;
    color: red;
    margin: 0;
    padding: 60px;
}